<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="/stylesheetAdmin.css">
</head>
<body>
    <div class="contentBox">
        <main>
            <div id="adminPage">
                <div id="header">
                    <h1 id="title">Personal Blog</h1>
                    <a id="addButton" href="#">+ ADD</a>
                </div>
                <div id="adminBlogContent">
                    <div id="blogBoxAdmin">
                        <p>Blog Dummy</p>
                        <div id="blogAdminFunctions">
                            <a id="editButton" href="#">Edit</a>
                            <a id="deleteButton" href="#">Delete</a>
                        </div>     
                    </div>
                    <div id="blogBoxAdmin">
                        <p>Blog Dummy</p>
                        <div id="blogAdminFunctions">
                            <a id="editButton" href="#">Edit</a>
                            <a id="deleteButton" href="#">Delete</a>
                        </div>     
                    </div>
                    <div id="blogBoxAdmin">
                        <p>Blog Dummy</p>
                        <div id="blogAdminFunctions">
                            <a id="editButton" href="#">Edit</a>
                            <a id="deleteButton" href="#">Delete</a>
                        </div>     
                    </div>
                    <div id="blogBoxAdmin">
                        <p>Blog Dummy</p>
                        <div id="blogAdminFunctions">
                            <a id="editButton" href="#">Edit</a>
                            <a id="deleteButton" href="#">Delete</a>
                        </div>     
                    </div>
                    <div id="blogBoxAdmin">
                        <p>Blog Dummy</p>
                        <div id="blogAdminFunctions">
                            <a id="editButton" href="#">Edit</a>
                            <a id="deleteButton" href="#">Delete</a>
                        </div>     
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>