<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="/stylesheetArticle.css">
</head>
<body>
    <div class="contentBox">
        <main>
            <div id="header">
                    <h1 id="title"><%= articleSearched['article-title'] %></h1>
                    <p id="subtitleDate"><%= formatDate(articleSearched['publishing-date']) %></p>
            </div>
            <div id="articleBlogContent">
                <p><%= articleSearched.content %></p>
            </div>
        </main>
    </div>
</body>
</html>