<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="/stylesheetArticle.css">
</head>
<body>
    <div class="contentBox">
        <main>
            <div id="header">
                    <h1 id="title">My First Article</h1>
                    <p id="subtitleDate">July 8, 2026</p>
            </div>
            <div id="articleBlogContent">
                <p>Dummy Text </p>
            </div>
        </main>
    </div>
</body>
</html>