<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="/stylesheetAdminFunctions.css">
</head>
<body>
    <div class="contentBox">
        <main>
            <div id="header">
                    <h1 id="title">Update Article</h1>
            </div>
            <div id="functionSpace">
                <form action="" id="functionForm">
                    <input type="text" name="articleTitle" id="articleTitle" placeholder="Article Title">
                    <input type="date" name="publishingDate" id="publishingDate" placeholder="Publishing Date">
                    <textarea name="content" id="content" placeholder="Content"></textarea>
                    <button type="submit" id="submitButton">Update</button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>