<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="/stylesheetHome.css">
</head>
<body>
    <div class="contentBox">
        <main>
            <div id="header">
                    <h1 id="title">Personal Blog</h1>
            </div>
            <div id="homeBlogContent">
                <div id="blogBoxHome">
                    <p>Blog Dummy</p>
                    <div id="blogHomeData">
                        <p id="lastDate">July 8, 2026</p>
                    </div>     
                </div>
                <div id="blogBoxHome">
                    <p>Blog Dummy</p>
                    <div id="blogHomeData">
                        <p id="lastDate">July 8, 2026</p>
                    </div>     
                </div>
            </div>
        </main>
    </div>
</body>
</html>