<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="/stylesheetHome.css">
</head>
<body>
    <div class="contentBox">
        <main>
            <div id="header">
                    <h1 id="title">Personal Blog</h1>
            </div>
            <div id="homeBlogContent">
                <% blogData.forEach((element)=>{ %>
                    <div id="blogBoxHome">
                        <a href="/article/<%= element.id%>"><%= element['article-title'] %></a>
                        <div id="blogHomeData">
                            <p id="lastDate"><%= formatDate(element['publishing-date']) %></p>
                        </div>     
                    </div>
                <% }); %>
            </div>
        </main>
    </div>
</body>
</html>